<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mapotempo Optimizer - Scheduling</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="block">
    <img src="images/logo.png">
    <h1>Optimizer</h1>
  </div>
  <div class="block">
    <fieldset id="optim-list-status">
      <legend id="optim-list-legend"></legend>
      <div id="jobs-list">

      </div>
    </fieldset>
  </div>
  <form id="post-form" enctype="multipart/form-data" action="/0.1/vrp/submit.json" method="post">
    <a id="doc-link" href="#documentation">documentation</a>
    <div class="block">
      <span id="csv-points-label"><%= I18n.t('views.scheduling.csv_points_label') %></span> <input type="file" name="points" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-points"/>
    </div>
    <div class="block">
      <span id="csv-timewindows-label"><%= I18n.t('views.scheduling.csv_timewindows_label') %></span> <input type="file" name="timewindows" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-timewindows"/>
    </div>
    <div class="block">
      <span id="csv-units-label"><%= I18n.t('views.scheduling.csv_units_label') %></span> <input type="file" name="units" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-units"/>
    </div>
    <div class="block">
      <span id="csv-capacities-label"><%= I18n.t('views.scheduling.csv_capacities_label') %></span> <input type="file" name="capacities" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-capacities"/>
    </div>
    <div class="block">
      <span id="csv-quantities-label"><%= I18n.t('views.scheduling.csv_quantities_label') %></span> <input type="file" name="quantities" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-quantities"/>
    </div>
    <div class="block">
      <span id="csv-services-label"><%= I18n.t('views.scheduling.csv_services_label') %></span> <input type="file" name="services" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-services"/>
    </div>
    <div class="block">
      <span id="csv-shipments-label"><%= I18n.t('views.scheduling.csv_shipments_label') %></span> <input type="file" name="shipments" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-shipments"/>
    </div>
    <div class="block">
      <span id="csv-vehicles-label"><%= I18n.t('views.shared.csv_vehicles_label') %></span> <input type="file" name="vehicles" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="csv-vehicles"/>
    </div>
    <div class="block">
      <span id="json-config-label"><%= I18n.t('views.scheduling.json_config_label') %></span> <input type="file" name="configuration" id="json-config">
    </div>
    <div class="block">
      <button id="send-csvs"><%= I18n.t('views.shared.send') %></button>
      <span id="csvs-infos"></span>
    </div>
  </form>

  <div class="block">
    <div>
      <span id="status-label"><%= I18n.t('views.scheduling.status_label') %></span>
      <span id="optim-infos"><%= I18n.t('views.scheduling.waiting_submit') %></span>
    </div>
  </div>

  <div class="block">
    <a name="documentation"></a>
    <h2>Documentation</h2>
    <div id="documentation">
    </div>
  </div>

  <script src="https://unpkg.com/i18next@21.6.6/dist/umd/i18next.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-browser-languagedetector/6.0.0/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="js/translations.js?v=20220121"></script>
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/papaparse.min.js"></script>
  <script src="js/Chart.Core.min.js"></script>
  <script src="js/Chart.Scatter.min.js"></script>
  <script src="js/conf.js?v=20220121"></script>
  <script src="js/utils.js?v=20220121"></script>
  <script src="js/jobManager.js?v=20220121"></script>
  <script src="js/scheduling.js?v=20220121"></script>
</body>
</html>
